<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="p-2">
    <h1>
        Whitelabel Error Page
    </h1>
    <h3>
        <span th:utext="${status}"></span>
        <br>
        <span th:text="${timestamp}"></span>
        <br>
        <span th:text="${exception}"></span>
        <br>
        <span class="text-danger" th:text="${message}"></span>
    </h3>
</div>
</body>
</html>