<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:utext="${title}"></title>
<script type="text/javascript" th:src="@{/js/list-product.js}"
	src="../static/js/list-product.js"></script>

<link href="../static/css/list-product.css"
	th:href="@{/css/list-product.css}" rel="stylesheet" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>
	<div class="row mr-0">
		<div class="col-11">
			<h1 class="pl-3" th:text="#{label.list.product}">
				</span>
			</h1>
		</div>
		<div class="col-1 pt-3">
			<a href="/?locale=en">English</a> | <a href="/?locale=vi">Viet
				nam</a>
		</div>
	</div>


	<a th:href="@{/create}" th:text="#{label.add.product}"
		class="btn btn-info ml-3"></a>

	<div class="w-100 table-responsive pl-3 pr-3 pt-3 pb-2">
		<table class="table table-bordered table-hover">
			<tr>
				<th th:text="#{label.id}"></th>
				<th th:text="#{label.code}"></th>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.category}"></th>
				<th th:text="#{label.brand}"></th>
				<th th:text="#{label.type}"></th>
				<th th:text="#{label.description}"></th>
				<th th:text="#{label.action}"></th>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td><a th:href="@{/update/{id}(id=${product.id})}"
					th:text="${product.code}"></a></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.category}"></td>
				<td th:text="${product.brand}"></td>
				<td th:text="${product.type}"></td>
				<td th:text="${product.description}"></td>
				<td><a th:href="@{/delete/{id}(id=${product.id})}"
					class="btn btn-danger" th:text="#{label.delete.product}"></a></td>
			</tr>
		</table>
	</div>

	<div class="row mr-4 float-right" th:if="${products.totalPages > 0}">
		<select class="custom-select-sm mt-2" id="pageSizeSelect"
			th:onchange="'window.location.href = \'' + @{/} + '?size=\' + this.value'">
			<option th:each="page : ${pageSizes}" th:text="${page} + '/page'"
				th:value="${page}" th:selected="${page} == ${selectedPage}"></option>
		</select>
		<nav>
			<ul class="pagination">
				<li class="page-item p-1"
					th:classappend="${currentPage eq 1 ? 'disabled' : ''}"><a
					class="page-link" th:href="@{/(size=${products.size}, page=1)}">
						First </a></li>
				<li class="page-item p-1"
					th:classappend="${currentPage eq 1 ? 'disabled' : ''}"><a
					class="page-link"
					th:href="@{/(size=${products.size}, page=${currentPage - 1})}">
						Previous </a></li>
				<div th:each="pageNumber : ${pageNumbers}">
					<li class="page-item p-1"><span class="page-link"> <a
							th:text="${pageNumber}"
							th:href="@{/(size=${products.size}, page=${pageNumber})}"></a>
					</span></li>
				</div>
				<li class="page-item p-1"
					th:classappend="${currentPage eq products.totalPages ? 'disabled' : ''}"><a
					class="page-link"
					th:href="@{/(size=${products.size}, page=${currentPage + 1})}">
						Next </a></li>
				<li class="page-item p-1"
					th:classappend="${currentPage eq products.totalPages ? 'disabled' : ''}"><a
					class="page-link"
					th:href="@{/(size=${products.size}, page=${products.totalPages})}">
						Last </a></li>
			</ul>
		</nav>
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>