<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Product Management System</title>

	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h2><span th:text="${title}"></span></h2>
	<a th:href="@{/}">
		<button type="submit" class="btn btn-info col-2" th:text="#{button.backToList}"></button>
	</a>
	<hr>
	<form action="#" th:action="@{/saveProduct}" th:object="${product}"
		  method="POST" class="needs-validation" novalidate>

		<!-- Add hidden form field to handle update -->
		<input type="hidden" th:field="*{id}"/>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.codeForm}"></label>

			<div class="col-sm-10">
				<input type="text" th:field="*{code}" th:readonly="${!isNew}" class="form-control mb-4 col-4" required>
				<div class="invalid-feedback" th:text="#{alert.code}">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.nameForm}"></label>
			<div class="col-sm-10">
				<input type="text" th:field="*{name}" class="form-control mb-4 col-4" required>
				<div class="invalid-feedback" th:text="#{alert.name}">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.categoryForm}"></label>
			<div class="col-sm-10">
				<input type="text" th:field="*{category}" class="form-control mb-4 col-4" required>
				<div class="invalid-feedback" th:text="#{alert.category}">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.brand}"></label>
			<div class="col-sm-10">
				<input type="text" th:field="*{brand}" class="form-control mb-4 col-4">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.type}"></label>
			<div class="col-sm-10">
				<input type="text" th:field="*{type}" class="form-control mb-4 col-4">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" th:text="#{label.description}"></label>
			<div class="col-sm-10">
				<textarea type="text" th:field="*{description}" class="form-control mb-4 col-4"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-info col-2" th:text="#{button.save}"></button>
	</form>
	<br/>
	<span th:if="${error}">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert alert-danger col-md-4 col-md-offset-4" role="alert" th:text="#{alert.duplicatedCode}">
        </div>
    </div>
    </span>
</div>
<script>
	(function () {
		var forms = document.querySelectorAll('.needs-validation')
		Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}
						form.classList.add('was-validated')
					}, false)
				})
	})()
</script>
</body>
</html>